### Mac OS ###
.DS_Store

### IntelliJ IDEA ###
.idea/
db.sqlite3
__pycache__/
*.pyc
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.classpath
.project
.settings/
.metadata

### VS Code ###
.vscode/

### Gradle ###
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Environment ###
.env
*.env

### Node.js ###
node_modules/
dist/

### SQL ###
*.sql

### Python ###
__pycache__/
db.sqlite3
*.pyc